
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- //page -->
<!-- about page -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Chào Mừng Khách Hàng
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="w3l-welcome-info">
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">

                    <img src="~/Public/homepage/images/about.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Public/homepage/images/about2.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <p>
                Để có thời gian rảnh rỗi khi chúng ta phải lựa chọn sự lựa chọn tự do của mình. Tôi sẽ mở những thứ được thành lập bởi người phát minh ra chân lý đó và là kiến ​​trúc sư của cuộc sống may mắn
            </p>
            <p>
                Khi rảnh rỗi, khi chúng ta phải lựa chọn giữa những lựa chọn của mình và khi không có gì ngăn cản chúng ta làm điều mình thích nhất, mọi lựa chọn đều miễn phí
            </p>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- video -->
<div class="about">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Video Chúng Tôi
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="about-tp">
            <div class="col-md-8 about-agileits-w3layouts-left">
                <iframe src="https://player.vimeo.com/video/15520702?color=ffffff&title=0&byline=0"></iframe>
            </div>
            <div class="col-md-4 about-agileits-w3layouts-right">
                <div class="img-video-about">
                    <img src="~/Public/homepage/images/videoimg2.png" alt="">
                </div>
                <h4>Miaaa Shoppy</h4>
                <p>Thị trường thương mại điện tử hàng đầu số 1 với hơn 70 triệu sản phẩm</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //video-->
<!-- //about page -->
