@model QLCuaHangVali.Models.DANHMUCVALI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section header{
<h2 style="text-align: center">Xóa Danh Mục</h2>

 
<div>
     
    <hr />
    <dl class="dl-horizontal">
        <table class="table" border="1px" style="text-align: center">
            <tr>
                <th>Tên danh mục </th>
                <td> @Html.DisplayFor(model => model.tendanhmuc)</td>
            </tr>
            <tr>
                <th>Trạng thái </th>
                <td> @Html.DisplayFor(model => model.trangthai)</td>
            </tr>
        </table>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
    }
