.UserName_drop {
    position: relative;
    display: block;
}

.dropdown_user {
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    top: 50px;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    padding: 5px 0;
    z-index: 10;
    display: none;
}

.UserName_drop.active .dropdown_user {
    display: flex;
}


.dropdown-item_user {
    padding-left: 8px;
    display: flex;
    height: 60px;
    justify-content: flex-start;
    line-height: 1;
    align-items: center;
}

    .dropdown-item_user:hover {
        background-color: orangered;
    }

.icon_user {
    float: right;
    width: 20px;
    height: 20px;
    background-color: cornsilk;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-item_user_icon {
    cursor: default;
}
